name: ci-cd

on: [push, pull_request]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Check-out repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      - name: Install Poetry
        run: |
          python -m pip install --upgrade pip
          pip install pipx
          pipx install poetry==1.7.1
          pipx ensurepath
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Install package
        run: poetry install --no-interaction --no-root

      # - name: Test with pytest
      #   run: poetry run pytest tests/ --cov=urbanity --cov-report=xml

      # - name: Use Codecov to track coverage
      #   uses: codecov/codecov-action@v4
      #   with:
      #     files: ./coverage.xml

      - name: Build documentation
        run: poetry run make clean html --directory docs/

  cd:
    needs: ci
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'

    runs-on: ubuntu-latest

    steps:
      - name: Check-out repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      - name: Install Poetry
        run: |
          python -m pip install --upgrade pip
          pip install pipx
          pipx install poetry==1.7.1
          pipx ensurepath
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Install package
        run: poetry install --no-interaction --no-root

      # - name: Publish to PyPI
      #   uses: pypa/gh-action-pypi-publish@release/v1
      #   with:
      #     user: __token__
      #     password: ${{ secrets.PYPI_API_TOKEN }}
